/* RESET SEDERHANA */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: auto;
}

/* HEADER & FOOTER */
header {
    background-color: #333;
    color: white;
    text-align: right;
    padding: 15px;
}
footer {
    background-color: #db0909;
    color: white;
    text-align: left;
    padding: 15px;
} 
/* MAIN */
main {
    padding: 50px;
}

/* =====================
   BOX MODEL
===================== */
.box {
    width: 200px;
    height: 100px;

    margin: 20px;
    padding: 20px;

    border: 3px solid black;
    background-color: lightblue;
}

/* =====================
   FLEXBOX
===================== */
.flex-container {
    display: flex;

    flex-direction: row; /* bisa diubah jadi column */
    justify-content: space-between;
    align-items: center;

    background-color: #eee;
    padding: 40px;
}

.item {
    background-color: orange;
    padding: 20px;
    border: 2px solid black;
}

/* =====================
   FORM STYLING
===================== */
form {
    display: flex;
    flex-direction: column;
    width: 250px;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    margin-top: 15px;
    padding: 10px;

    background-color: green;
    color: white;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}